<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../images/android-chrome-192x192.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Donation Reminder</title>
</head>
<body>
    

    <!-- <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand" style="font-family: Racing Sans One !important; color: #45526e; font-size: 40px;" href="/index">Water-wave Admin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/admin_panel"> Admin Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/allVolunteers">All Volunteers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">All Donors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">All Coolers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">All Donation History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Staff Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Maintanence Team info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cooler Refilling</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cooler Maintanence</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Coolers per Area</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->
     <a style="text-decoration: none; color: white;" href="/admin_panel"><button type="button" class="btn btn-primary btn-lg" style=" font-family:Montserrat ; position: relative; top: 45px; left: 3pc;"><i class="fa-solid fa-arrow-left" style="margin-right:10px ;"></i>Admin Home</button></a> 

      <h1 style="font-family: Racing Sans One !important; color: #45526e; font-size: 40px; text-align: center; margin-bottom: 45px; margin-top: -8px !important;">Donation Reminder Info</h1>

      <table class="table table-bordered container">
        <thead>
          <tr>
            <th scope="col">Donor Name</th>
            <th scope="col">Date of Last Donation</th>
          </tr>
        </thead>
        <tbody>
          <% for(const name of data){ %>
            <tr>
               <td><%= name.Donor_Name %></td>
               <td><%= name.Last_Donation_Date %></td>
             </tr>
          <% } %> 
        </tbody>
      </table>
</body>
</html>